<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyeAqIqc-Kw08WXqC8qak4u7cdPTkVwe4</string>
	<key>GCM_SENDER_ID</key>
	<string>868485232264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-prep-55363</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-prep-55363.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868485232264:ios:aea28c5a40cf102430113d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-prep-55363-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>